<%= form_with(model: encadrant, local: true) do |form| %>
  <% if encadrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encadrant.errors.count, "error") %> prohibited this encadrant from being saved:</h2>

      <ul>
        <% encadrant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
